[Unit]
Description=Dashing homeassistant
Before=systemd-user-sessions.service

[Service]
TimeoutStartSec=0

ExecStart=/home/pi/mydash.sh start
Type=oneshot
RemainAfterExit=yes
User=pi

ExecStop=/home/pi/mydash.sh stop
User=pi

[Install]
WantedBy=multi-user.target
