<% content_for :title do %>homie.k3wl.de<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="clock" data-view="Clock" data-color="#FF0000"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Haweather" data-unit="&deg;F" data-color="#FF0000"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="androidc67ec923cd410bdf" data-view="Hadevicetracker" data-title="Alex" data-color="#FF0000"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="iphone" data-view="Hadevicetracker" data-title="Domi" data-color="#FF0000"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="LivingRoomtemperature" data-view="Hasensor" data-title="LivingRoom" data-unit="&deg;F" data-color="#FF0000"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="2" data-sizey="2">
      <div data-id="LivingRoomhumidity" data-view="Hasensor" data-title="LivingRoom %" data-unit="%" data-color="#FF0000"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="Childtemperature" data-view="Hasensor" data-title="ChildRoom" data-unit="&deg;F" data-color="#FF0000"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="2" data-sizey="2">
      <div data-id="Childhumidity" data-view="Hasensor" data-title="ChildRoom %" data-unit="%" data-color="#FF0000"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="2" data-sizey="2">
      <div data-id="Officetemperature" data-view="Hasensor" data-title="Office" data-unit="&deg;F" data-color="#FF0000"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="2" data-sizey="2">
      <div data-id="Officehumidity" data-view="Hasensor" data-title="Office %" data-unit="%" data-color="#FF0000"></div>
    </li>
    <li data-row="2" data-col="7" data-sizex="2" data-sizey="2">
      <div data-id="bedroomtemperature" data-view="Hasensor" data-title="Bedroom" data-unit="&deg;F" data-color="#FF0000"></div>
    </li>
    <li data-row="2" data-col="8" data-sizex="2" data-sizey="2">
      <div data-id="bedroomhumidity" data-view="Hasensor" data-title="Bedroom %" data-unit="%" data-color="#FF0000"></div>
    </li>

  </ul>
</div>
